* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




body {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 31%;
    background-image: url("../images/background\ 1.jpeg")
}
