* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    display: grid;
    
}


body {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 32%;
    background-image: url("../images/background\ 1.jpeg")
}
